.no-webp .requirements {
  background-image: url("../../assets/images/bg-2_mobile.jpg");
  @include for-size(tablet) {
    background-image: url("../../assets/images/bg-2_tablet.jpg");
  }
  @include for-size(desktop2k) {
    background-image: url("../../assets/images/bg-2.jpg");
  }
}
.webp .requirements {
  background-image: url("../../assets/images/bg-2_mobile.webp");
  @include for-size(tablet) {
    background-image: url("../../assets/images/bg-2_tablet.webp");
  }
  @include for-size(desktop2k) {
    background-image: url("../../assets/images/bg-2.webp");
  }
}

.requirements {
  background-color: $secondary-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: rem(1031);
  @include for-size(tablet) {
    min-height: rem(878);
  }
  @include for-size(desktop) {
    min-height: rem(755);
    background-position: 0 center;
  }
  @include for-size(desktop2k) {
    min-height: rem(692);
    background-position: center 45%;
  }
  &__container {
    padding: rem(60) rem(24) rem(20) rem(24);
    margin: 0 auto;
    max-width: rem(320);
    @include for-size(tablet) {
      max-width: rem(768);
      padding: rem(105) rem(24) rem(30) rem(24);
    }
    @include for-size(desktop) {
      max-width: rem(1024);
      padding: rem(130) rem(47) rem(30) rem(47);
    }
    @include for-size(desktop2k) {
      max-width: rem(1170);
      padding: rem(130) rem(77) rem(30) rem(15);
    }
  }
  &__wrapper {
    @include for-size(tablet) {
      display: flex;
      justify-content: space-between;
    }
    @include for-size(desktop2k) {
    }
  }
  &__wrapper-text {
    @include for-size(tablet) {
      max-width: rem(334);
      order: 1;
    }
    @include for-size(desktop) {
      max-width: rem(450);
    }
    @include for-size(desktop2k) {
      max-width: rem(549);
    }
  }
  &__title {
    padding-bottom: rem(20);
    color: $light-color;
    font-family: $secondary-font;
    font-size: rem(26);
    text-align: center;
    @include for-size(tablet) {
      font-size: rem(42);
      max-width: rem(420);
      margin: 0 auto rem(11) auto;
    }
    @include for-size(desktop) {
      max-width: rem(750);
      margin: 0 auto rem(15) auto;
    }
    @include for-size(desktop2k) {
      max-width: 100%;
      margin: 0 auto;
      padding-left: 50px;
      padding-bottom: rem(40);
    }
  }
  &__text {
    color: #fefefe;
    text-align: center;
    padding-bottom: rem(25);
    @include for-size(tablet) {
      text-align: left;
    }
    @include for-size(desktop) {
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}
