.backdrop {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: calc(100% + 100px);
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(22, 12, 13, 0.32);
  cursor: pointer;
  overflow: auto;
}

.mobile-menu {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: rem(250);
  min-height: 100vh;
  padding-left: rem(15);
  opacity: 1;
  background-color: $light-color;
  padding-bottom: 60px;
  scroll-padding-bottom: 60px;
  &__img {
    border-radius: 50%;
    margin-top: rem(30);
    margin-bottom: rem(17);
  }
  &__name {
    font-size: rem(20);
  }
  &__email {
    color: #8d8c8c;
    font-size: rem(13);
    margin-bottom: rem(20);
  }
  &__nav:before {
    content: "";
    display: block;
    border: 1px solid #e1e1e1;
    width: calc(100% + 15px);
    margin-left: rem(-15);
  }
}

.mobile-nav {
  list-style: none;
  padding-top: rem(30);
  &__item {
    margin-bottom: rem(21);
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &__link {
    text-decoration: none;
    color: #000000;
  }
}
