@import 'scss/variables';
@import 'scss/mixin';
@import 'scss/base';

@import 'components/Header/Header';
@import 'components/Header/components/DesktopMenu';
@import 'components/Header/components/MobileMenu';
@import 'components/Banner/Banner';
@import 'components/AboutMe/AboutMe';
@import 'components/AboutMe/components/MobileManSvg';
@import 'components/Relationships/Relationships';
@import 'components/Requirements/Requirements';
@import 'components/Requirements/components/ManLaptopSvg';
@import 'components/Requirements/components/ManLaptop2Svg';
@import 'components/Users/Users';
@import 'components/Users/components/Loading';
@import 'components/SignUp/SignUp';
@import 'components/SignUp/components/AfterAddUserModal';
@import 'components/Footer/Footer';