*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  font-family: $main-font;
  font-size: 16px;
  font-weight: $regular;
  line-height: 1.375;

  height: 100%;
  width: 100%;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover,
button:focus,
a:hover,
a:focus {
  cursor: pointer;
}

a:hover,
a:focus {
  color: $primary-color;
}

ul {
  list-style: none;
}

#root {
  max-width: 2560px;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  overflow-padding-behavior-bottom: strict;
}

.container {
  width: 320px;
  margin: 0 auto;
  @include for-size(tablet) {
    width: 768px;
  }
  @include for-size(desktop) {
    width: 1024px;
  }
  @include for-size(desktop2k) {
    width: 1170px;
  }
}
