// Fonts
$main-font: "Source Sans Pro", sans-serif;
$secondary-font: 'Overpass', sans-serif;

$regular: 400;
$semibold: 600;
$bold: 700;

// Colors
$primary-color: #ef6c00;
$secondary-color: #283593;
$light-color: #ffffff;
$error-color: #f44336;

// Breakpoints
$desktop2k: 2560px;
$desktop: 1024px;
$tablet: 768px;