.no-webp .banner {
  background-image: url("../../assets/images/bg-1_mobile.jpg");
  @include for-size(tablet) {
    background-image: url("../../assets/images/bg-1_tablet.jpg");
  }
  @include for-size(desktop2k) {
    background-image: url("../../assets/images/bg-1.jpg");
  }
}
.webp .banner {
  background-image: url("../../assets/images/bg-1_mobile.webp");
  @include for-size(tablet) {
    background-image: url("../../assets/images/bg-1_tablet.webp");
  }
  @include for-size(desktop2k) {
    background-image: url("../../assets/images/bg-1.webp");
  }
}

.banner {
  margin: rem(64) auto 0 auto;
  background-color: $secondary-color;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: rem(393);
  background-size: 204%;
  background-position: rem(-130) rem(-10);
  @include for-size(tablet) {
    background-position: 0 0;
    background-size: 130%;
    min-height: rem(622);
  }
  @include for-size(desktop) {
    min-height: rem(725);
  }
  @include for-size(desktop2k) {
    background-size: 100%;
    background-position: center 30%;
    min-height: rem(676);
  }
  &__container {
    margin: 0 auto;
    padding: 0px rem(15) rem(70) rem(15);
    max-width: rem(320);
    @include for-size(tablet) {
      padding: 0px rem(24) rem(70) rem(24);
      max-width: rem(768);
    }
    @include for-size(desktop) {
      padding: rem(0) rem(47) rem(70) rem(47);
      max-width: rem(1024);
    }
    @include for-size(desktop2k) {
      padding: rem(0) rem(15) rem(70) rem(15);
      max-width: rem(1170);
    }
  }
  &__title {
    color: $light-color;
    font-family: $secondary-font;
    font-size: rem(30);
    line-height: rem(34);
    text-align: center;
    padding-top: rem(65);
    margin-bottom: rem(12);
    @include for-size(tablet) {
      font-size: rem(42);
      max-width: rem(376);
      text-align: left;
      padding-top: rem(110);
      line-height: 1.3;
    }
    @include for-size(desktop) {
      font-size: rem(50);
      max-width: rem(450);
    }
    @include for-size(desktop) {
      padding-top: rem(127);
    }
  }
  &__text {
    color: $light-color;
    text-align: center;
    margin-bottom: rem(38);
    @include for-size(tablet) {
      font-size: rem(18);
      max-width: rem(382);
      text-align: left;
      margin-bottom: rem(105);
    }
    @include for-size(desktop) {
      font-size: rem(20);
      margin-bottom: rem(112);
    }
    @include for-size(desktop2k) {
      margin-bottom: rem(80);
    }
  }
  &__button {
    display: block;
    padding: rem(8) 0;
    font-size: rem(20);
    font-weight: $bold;
    margin: 0 auto;
    border-radius: rem(4);
    background-color: $primary-color;
    color: $light-color;
    border: none;
    text-decoration: none;
    text-align: center;
    &:hover,
    &:focus {
      background-color: #fd831e;
      color: $light-color;
    }
    @include for-size(tablet) {
      margin: 0;
    }
  }
}

.button {
  max-width: rem(290);
}
